<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    <script src="{% static 'chat/chat.js' %}" defer></script>
    <title>Chat</title>
</head>
<body>
    <div class="background"></div>
    <!-- <div id="main-container"> -->
        <div id="content">
            <!-- User List Section -->
            <aside id="user-list-container">
                <h2>Users</h2>
                <div>
                    <input type="text" id="search-input" placeholder="Search users...">
                </div>
                <ul id="user-list">
                    {% for user in users %}
                        {% if user.username != current_user %}
                            <a href="{% url 'chat_room' username=current_user recipient_user=user.username %}">
                                <div class="user-item">{{ user.username }}</div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>

            <!-- Chat Section -->
            <section id="chat-container" data-roomname="{{ roomname }}" data-username="{{ request.user.username }}">
                <div id="chat-box">
                    <!-- Chat messages will be displayed here -->
                </div>
                <div id="chat-input-container">
                    <input type="text" id="chat-input" placeholder="Type your message here...">
                    <button id="send-button">>></button>
                </div>
            </section>
        <!-- </div> -->
    </div>
</body>
</html>