<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image with Centered Text</title>
    <link rel="stylesheet" href="../static/Css/Ai.css">
    <link rel="icon" type = "image/png" href="../static/assets/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-container"></div>
    <h1> YOU WOULD LIKE TO CHOOSE </h1>

    <div>
        <img src="../static/assets/images/logo.png" alt="Logo" class="logo"> 
    </div>
    <div class="play-AI">
        <img src="../static/assets/images/ai.png" alt="image">
            <div class="AI-button">
                <button id="playAI">PLAYER VS AI</button>
            </div>
    </div>
    <div class="Player-player">
        <img src="../static/assets/images/pingpong.png" alt="image">
        <div class="player-button">
            <button id="player-player">PLAYER VS PLAYER</button>
        </div>
        
    </div>
    <div class="Welcome">
        <div class="mobile" mobile-url="{% url 'mobile_page' %}"></div>
        <h2><span class="dynamic-h2"></span></h2>
        <div class="button-Home" id="home" home-url="{% url 'home_page' %}">
            <button>Home</button>
        </div>
        <div class="button-Profile" id="profile">
            <button>Profile</button>
        </div>
        <div class="button-Game" id="game" game-url="{% url 'game_page' %}">
            <button>Game</button>
        </div>
        <div class="button-Tournoi" id="tournoi" tournoi-url="{% url 'tournoi_page' %}">
            <button>Tournoi</button>
        </div>
        <div class="button-Chat" id="chat" chat-url="{% url 'chat' username=username %}">
            <button>Chat</button>
        </div>
    <div class="button-Settings" id="settings" setting-url="{% url 'setting_page' %}">
        <button>Settings</button>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="../static/JS/Ai.js"></script>
</body>
</html>