<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image with Centered Text</title>
    <link rel="stylesheet" href="../static/Css/Edit.css">
    <link rel="icon" type = "image/png" href="../static/assets/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-container"></div>
    <div class="circle">
        <img src="../static/assets/images/fouaouri.jpeg" alt="Your Image">
    </div>
    <div>
        <img src="../static/assets/images/logo.png" alt="Logo" class="logo"> 
    </div>
    <div class="Done" id="Done">
        <button>Update</button>
    </div>

    <div class="Infos" >
        <h2>Full name</h2>
            <input type="text" class="f_name">
        <h2>Mail</h2>
            <input type="text" class="f_name">
        <h2>Age</h2>
            <input type="number" class="f_name">
        <h2>Avatar</h2>
            <button class="Avatar" id="Avatar">Choose Avatar</button>
        <h2>City</h2>
            <input type="text" class="f_name">
        <h2>Bio</h2>
            <input type="text" class="f_name">
    </div>
    <div class="Welcome">

        <div class="button-Home" id="home">
            <button>Home</button>
        </div>
        <div class="button-Profile" id="profile">
            <button>Profile</button>
        </div>
        <div class="button-Game" id="game">
            <button>Game</button>
        </div>
        <div class="button-Tournoi" id="tournoi">
            <button>Tournoi</button>
        </div>
        <div class="button-Chat" id="chat">
            <button>Chat</button>
        </div>
        <div class="button-Settings" id="settings">
            <button>Settings</button>
        </div>
        <script src="../static/JS/Edit.js"></script>
</body>
</html>

