<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Background Image with Centered Text</title>
    <link rel="stylesheet" href="../static/Css/openning.css">
    <link rel="icon" type = "image/png" href="../static/assets/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-container">
        <div class="centered-text">
            <h1><div>DRAGON WORLD WHERE THE GAME IS YOURS</div></h1>
            <div class="button-container" id="clickme">
                <button>Click Me</button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('clickme').addEventListener('click', function() {
            window.location.href = '{% url "first_page" %}'; 
        });
    </script>
    
</body>
</html>

