<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>My Website</title>
  </head>



  <body>
    <h1>Data from Backend</h1>
    <ul>
    {% for item in data %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    <main>
        <h1>Welcome to My Website</h1>  
    </main>


	<script>
    async function fetchData() {

        console.log('fdfd')
          let response = await fetch("https://dog.ceo/api/breeds/list/all");
          let data = await response.json();
          console.log(data); // Log the data to the console
  }
  fetchData()
</script>
  </body>
</html>

{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>

</html> {% endcomment %}
